<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle do Robô</title>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/controle_style.css">

</head>
<body>
    <div class="center"><h1>Controle do Robô</h1></div>
    <br>
    <div class="center"><p>Digite as coordenadas desejadas</p></div>
    <br>
    <div id="formContainer">
        <form id="controlForm" hx-post="http://127.0.0.1:5000/controleRobo" hx-target="#formContainer">
            <div class="center"><label for="x">X:</label></div>
            <div class="center"><input type="number" id="x" name="x" required></div>
            <br>
            <div class="center"><label for="y">Y:</label></div>
            <div class="center"><input type="number" id="y" name="y" required></div>
            <br>
            <div class="center"><label for="z">Z:</label></div>
            <div class="center"><input type="number" id="z" name="z" required></div>
            <br>
            <div class="center"><button type="submit">Enviar</button></div>
        </form>
    </div>
</body>
</html>